body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange-bg {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding: 2%;
}
.half-width img {
  width: 80%;
}
.btn-link {
  text-decoration: none;
  padding: 10px 40px;
  color: white;
  background-image: linear-gradient(orange, tomato);
  border-radius: 5px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.btn-hire {
  text-decoration: none;
  padding: 10px 60px;
  color: white;
  background-image: linear-gradient(orange, tomato);
  border-radius: 5px;
}
.dream {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
